li
	-if (file.ext == "ogm")
		a(href='view/'+file.path+'/'+file.name)= file.name
	-else if (file.ext == "mp3")
		a(href='listen/'+file.path+'/'+file.name)= file.name
	-else if (file.ext == "ogg")
		a(href='listen/'+file.path+'/'+file.name)= file.name
	-else
		a(href='download/'+file.path+'/'+file.name)= file.name
