body {
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

#wrapper {
	position: relative;
}

#loading {
	position: absolute;
	width: 140px;
	border: 1px solid #666;
	text-align: center;
	top: 0;
	left: 50%;
	margin-left: -70px;
}

#browser {
	float: left;
	width: 300px;
}

#browser ul {
	margin: 0
}

#browser li {
	list-style: none;	
}

#browser li:nth-child(odd) {
	background-color: white;
}

#browser li:nth-child(even) {
	background-color: #BBD;
}

#player {
	margin-left: 300px
}

.hidden {
	display: none;
}
