body {
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

#wrapper {
	position: relative;
}

#loading {
	position: absolute;
	width: 140px;
	border: 1px solid #666;
	text-align: center;
	top: 0;
	left: 50%;
	margin-left: -70px;
}

#browser {
	float: left;
	width: 300px;
	overflow: auto;
}

#browser ul {
	margin: 0;
	padding: 0;
}

#browser li {
	padding-left: 10px;
	list-style: none;	
}

#browser li:nth-child(odd) {
	background-color: white;
}

#browser li:nth-child(even) {
	background-color: #BBD;
}

#player {
	margin-left: 300px;
	padding-left: 1em;
	padding-right: 1em;

}

.queue {
	margin:0;
}

.queue li {
}

.queue li h4 {
	margin:0;
}

.queue li p {
	margin:0;
}


.hidden {
	display: none;
}
