body {
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

#wrapper {
	position: relative;
}

#loading {
	position: absolute;
	width: 140px;
	border: 1px solid #666;
	text-align: center;
	top: 0;
	left: 50%;
	margin-left: -70px;
}

#browser {
	float: left;
	width: 300px;
	overflow: auto;
}

#browser ul {
	margin: 0;
	padding: 0;
}

#browser li {
	padding-left: 0;
	list-style: none;	
}

#browser li a.artist {
	margin-left: 10px;
}

#browser li a.album {
	margin-left: 20px;
}

#browser li a.track {
	margin-left: 30px;
	display: block;
}

#browser li:nth-child(odd) {
	background: rgb(221, 237, 254);
}

#browser li:nth-child(even) {
	background: rgb(245, 245, 255);
}

#player {
	margin-left: 300px;
	padding: 0;
}

#controls {
	height: 40px;
	position: relative;
	color: #FFF;
	background: -moz-linear-gradient(center top , rgba(174, 185, 196, 0.9), rgba(152, 164, 176, 0.9) 50%, rgba(132, 145, 159, 0.9) 50.1%, rgba(110, 124, 140, 0.9)) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(174, 185, 196, 0.9)), color-stop(0.5, rgba(152, 164, 176, 0.9)), color-stop(0.501, rgba(132, 145, 159, 0.9)), color-stop(1, rgba(110, 124, 140, 0.9))) repeat scroll 0 0 transparent;
}

#playtoggle {
	height: 32px;
	width: 32px;
	position: absolute;
	top: 2px;
	left: 10px;
	cursor: pointer;
	background: url('../images/PNG/32/Gnome-Media-Playback-Start-32.png') no-repeat scroll 0 0 transparent;

}

#playtoggle.playing {
	background: url('../images/PNG/32/Gnome-Media-Playback-Pause-32.png');
}

#skip {
	height: 32px;
	width: 32px;
	position: absolute;
	top: 2px;
	left: 48px;
	cursor: pointer;
	background: url('../images/PNG/32/Gnome-Media-Skip-Forward-32.png');
}

#timeleft {
	height: 32px;
	width: 50px;
	position: absolute;
	top: 8px;
	left: 100px;
}

.queue {
	margin:0;
	padding: 0 0 0 30px;
	overflow: auto;
	color: #FFF;
	background: rgba(110, 124, 140, 0.9);
}

.queue li {
	margin: 0;
	padding-left: 10px;
}

.queue li h4, li p {
	margin:0;
	color: #000;
}

.queue li.playing {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(7,96,184)), color-stop(0.5, rgb(19,81,143)), color-stop(0.51, rgb(12,65,122)), color-stop(1, rgb(7,42,82)));
	background: -moz-linear-gradient(center top, rgb(7,96,184) 0%, rgb(19,81,143) 50%, rgb(12,65,122) 51%, rgb(7,42,82) 100%);
}

.queue li:nth-child(odd) {
	background: rgb(221, 237, 254);
}

.queue li:nth-child(even) {
	background: rgb(245, 255, 255);
}

.queue li.playing h4, li.playing p {
	color: #FFF;
}

.hidden {
	display: none;
}
