!!! 5
html
	head
		title Media Browser
		script(src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js")
		script(src: "javascripts/app.js")
		script(src: "javascripts/jquery-ui-1.8.4.custom.min.js")
		link(rel: 'stylesheet', href: '/stylesheets/app.css')
	body
		#loading.ui-state-highlight.ui-corner-all.ui-helper-hidden
			p
				span.ui-icon.ui-icon-info Loading...
		#wrapper!= body
